server:
  port: 8001

mybatis:
  config-location: classpath:mybatis/mybatis.cfg.xml        # mybatis配置文件所在路径
  type-aliases-package: com.simon.cloud.leaf.api.entities   # 所有Entity别名类所在包
  mapper-locations:
  - classpath:mybatis/mapper/**/*.xml                       # mapper映射文件

spring:
  application:
    name: provider
#  datasource:
#    type: com.alibaba.druid.pool.DruidDataSource            # 当前数据源操作类型
#    driver-class-name: com.mysql.cj.jdbc.Driver             # mysql驱动包
#    url: jdbc:mysql://127.0.0.1:3306/cloud_leaf?characterEncoding=utf8&serverTimezone=GMT&useSSL=false&allowPublicKeyRetrieval=true       # 数据库名称
#    username:
#    password:
#    dbcp2:
#      min-idle: 5                                           # 数据库连接池的最小维持连接数
#      initial-size: 5                                       # 初始化连接数
#      max-total: 5                                          # 最大连接数
#      max-wait-millis: 200                                  # 等待连接获取的最大超时时间

eureka:
  client:                                                   #客户端注册进eureka服务列表内
    register-with-eureka: true
    service-url:
      defaultZone: http://simon:7589014@127.0.0.1:7001/eureka
  instance:
    instance-id: provider
    prefer-ip-address: true                                 #访问路径可以显示IP地址

info:
  app.name: provider
  company.name: www.simon.com
  build.artifactId: ${project.artifactId}$
  build.version: ${project.version}$

